/*.calendar-wrapper {*/
    /*width: 100%;*/
    /*margin: 0;*/
    /*font-family: "Whitney SSm A", " Whitney SSm B","OpenSans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;*/
    /*background-color: white;*/
    /*box-sizing: border-box;*/
/*}*/
/*.calendar-wrapper a {*/
    /*color: #369;*/
    /*text-decoration: none;*/
/*}*/
/*.calendar-wrapper a:hover {*/
    /*text-decoration: underline;*/
/*}*/
/*.date {*/
    /*box-sizing: border-box;*/
    /*padding: 10px;*/
    /*background-color: #628cb6;*/
    /*width: 100%;*/
    /*color: #fff;*/
    /*font: 1.3em/1.2 "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Helvetica,Arial,sans-serif;*/
    /*background-image: -webkit-linear-gradient(top,#628cb6 0,#369 100%);*/
/*}*/
/*.title {*/
    /*color: #369;*/
    /*line-height:1.3em;*/
    /*font-size: 1.1em;*/
    /*font-family: "Whitney SSm A", " Whitney SSm B","OpenSans", "sans-serif", "Lucida Grande", "Lucida Sans unicode", "Lucida Sans", Helvetica, Arial, sans-serif;*/
    /*font-weight: 600;*/
    /*display: block;*/
    /*width: 80%;*/
/*}*/
/*.event {*/
    /*margin: 20px 10px;*/
/*}*/
/*.event-content {*/
    /*margin: 0 20px;*/
    /*display: inline-block;*/
    /*width: 75%;*/
/*}*/
/*.time {*/
    /*width: 80%;*/
    /*font-size: .9em;*/
    /*color: #444;*/
    /*margin:0;*/
    /*font-weight: bold;*/
    /*font-family: "Whitney SSm A", " Whitney SSm B","OpenSans", "Thonburi", "DroidSans", "Droid Sans", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Helvetica, Arial, sans-serif;*/
    /*display:block;*/
/*}*/
/*.price {*/
    /*color:green;*/
    /*text-transform: uppercase;*/
/*}*/
/*.hidden {*/
    /*display: none;*/
/*}*/
/*.show {*/
    /*!*display: inline-block;*!*/
/*}*/
/*img {*/
    /*margin: 0 20px 20px;*/
    /*display: inline-block;*/
    /*width: 150px;*/
    /*max-height: 100px;*/
    /*vertical-align: top;*/
/*}*/

/* ----------- List format -------- */
.block-calendar-widget h2.block-title {
    border-bottom: 1px solid #e5e5e5;
}

.calendar-widget-block.display-list {
    width: 220px;
}

.date-wrapper {
    display: flex;
    margin-bottom: 12px;
}
.date-day-number {
    font-family: "Whitney A", "Whitney B";
    font-weight: bold;
    font-size: 28px;
    margin-right: 7px;
}
.date-text {
    font-weight: 500;
    font-size: 21px;
    padding-top: 4px;
}


.event-content {
    padding: 0px 0px 15px 15px;
    display: flex;
    justify-content: space-between;
    line-height: 1.3em;
}

.event-title {

}
.event-time {
    min-width: 60px;
    margin-left: 12px;
    color: #767676;
    font-size: 14px;
}



